@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none; }

:root {
  --background: #005;
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb; }

/* Define the animation */
@keyframes typing {
  from {
    width: 0;
    /* Start with no width */ }
  to {
    width: 75%;
    /* End with full width */ } }

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%); }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); } }

@keyframes btm-to-top {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(-50%); } }

@keyframes icon-animation-left {
  0% {
    transform: translate(-100%, 100%); }
  100% {
    transform: translate(0, 0); } }

@keyframes icon-animation-right {
  0% {
    transform: translate(100%, 100%); }
  100% {
    transform: translate(0, 0); } }

.title-box {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #2cb179;
  width: 250px;
  height: 60px;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center; }
  .title-box .title {
    text-transform: uppercase; }

.primary-btn {
  background-color: #2cb179;
  padding: 10px 20px;
  color: white;
  border: 3px solid #2cb179; }
  .primary-btn:hover {
    background: white;
    border-color: #2cb179;
    color: #2cb179; }

.secondary-btn {
  background-color: white;
  padding: 10px 20px;
  border: 3px solid #2cb179;
  color: #2cb179; }
  .secondary-btn:hover {
    background: #2cb179;
    color: white; }

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  width: 300px;
  z-index: 5;
  overflow: hidden; }

header {
  height: 15vh;
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  box-shadow: 0px 4px 4px #d7d7d7; }
  header .logo {
    width: 60px;
    height: 60px; }
  header .nav-links {
    display: flex;
    align-items: center; }
    header .nav-links a {
      margin-right: 40px;
      color: #000;
      position: relative;
      padding-bottom: 4px; }
      header .nav-links a::after {
        content: "";
        background-color: #2cb179;
        display: block;
        width: 0px;
        height: 3px;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: width 0.3s ease;
        border-radius: 20px; }
      header .nav-links a:hover::after {
        width: 100%; }

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .main-section .main-section-left {
    height: calc(100vh - 15vh);
    padding: 100px 50px; }
    .main-section .main-section-left .main-section-heading {
      width: max-content;
      margin-bottom: 30px;
      overflow: hidden;
      border-right: 0.15em solid #2cb179;
      white-space: nowrap;
      margin-bottom: 20px;
      letter-spacing: 0.05em;
      animation: typing 3s steps(30, end);
      /* Define the animation */ }
      .main-section .main-section-left .main-section-heading span {
        color: #2cb179;
        font-size: 40px; }
    .main-section .main-section-left .main-section-description {
      margin-bottom: 50px; }
    .main-section .main-section-left .btns {
      margin-right: 40px;
      text-align: right; }
      .main-section .main-section-left .btns .btn {
        margin-right: 10px;
        border-radius: 5px; }
  .main-section .main-section-right {
    position: relative; }
    .main-section .main-section-right .shape {
      position: absolute;
      top: 40%;
      left: 50%;
      border: 3px solid #2cb179;
      transform: translate(-50%, -50%); }
      .main-section .main-section-right .shape .profile {
        width: 300px; }

.project-section {
  height: 100vh;
  background: url(../imgs/brands-people-Ax8IA8GAjVg-unsplash.jpg);
  position: relative;
  background-size: cover;
  background-attachment: fixed; }
  .project-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #020024 0%, #2cb179 41%, #00d4ff 100%);
    top: 0;
    left: 0;
    opacity: 0.2; }
  .project-section:hover .title-box {
    transform: translateX(-50%) skew(20deg);
    box-shadow: 5px 5px 10px #000;
    z-index: 1; }
    .project-section:hover .title-box .title {
      transform: skew(-20deg); }
  .project-section:hover .figures {
    z-index: 1; }
    .project-section:hover .figures .fig {
      transform: scale(1.05);
      box-shadow: 10px 10px #2cb179; }
  .project-section .figures {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
    .project-section .figures .fig {
      width: 300px;
      height: 400px;
      background: #d7d7d7;
      transition: 0.5s;
      border-radius: 5px;
      position: relative;
      overflow: hidden; }
      .project-section .figures .fig:hover .fig-title {
        display: none; }
      .project-section .figures .fig:hover .figcaption {
        display: block; }
        .project-section .figures .fig:hover .figcaption p {
          animation-name: btm-to-top;
          animation-duration: 1s; }
        .project-section .figures .fig:hover .figcaption .bottom-left {
          animation: icon-animation-left 0.5s; }
        .project-section .figures .fig:hover .figcaption .bottom-right {
          animation: icon-animation-right 0.5s; }
      .project-section .figures .fig .fig-title {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center; }
        .project-section .figures .fig .fig-title i {
          text-align: center;
          font-size: 50px;
          background-color: #2cb179;
          padding: 30px;
          border-radius: 10%;
          margin-bottom: 30px; }
      .project-section .figures .fig .figcaption {
        display: none;
        position: relative;
        background-size: cover;
        height: 100%; }
        .project-section .figures .fig .figcaption p {
          position: absolute;
          top: 50%;
          text-align: center;
          transform: translateY(-50%);
          padding: 30px; }
        .project-section .figures .fig .figcaption a {
          font-size: 30px;
          color: #000; }
        .project-section .figures .fig .figcaption .bottom-left {
          position: absolute;
          bottom: 5%;
          left: 5%; }
        .project-section .figures .fig .figcaption .bottom-right {
          position: absolute;
          bottom: 5%;
          right: 5%; }
    .project-section .figures .fig:not(:last-child) {
      margin-right: 70px; }

.skill-section {
  position: relative;
  height: 100vh;
  position: relative; }
  .skill-section .skill-box {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .skill-section .skill-box ul li {
      width: 250px;
      padding-bottom: 30px;
      display: flex;
      align-items: center; }
      .skill-section .skill-box ul li caption {
        display: inline-block;
        padding-left: 100px; }
